<h1>Show All Posts</h1>

<% if @post %>
  <%= @posts.each do |post| %>
    <div>
      <h4><%= post.title %></h4>
      <p><%= post.body %></p>
    </div>
  <% end %>
<% else %>
  <div>
    <h4>No Post!</h4>
  </div>
<% end %>

<%= link_to "Create Post", new_post_path %>
